:root {
    --colorBG1: rgb(138, 138, 240);
    --colorTxt: rgb(142, 137, 137);
    --color1: rgb(247, 241, 232);
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(138, 138, 240);
    font: normal 15pt Arial;
}

header {
    color: var(--color1);
    text-align: center;
    margin-top: 1%;
}

section {
    background-color: var(--color1);
    color: var(--colorTxt);
    border-radius: 12px;
    padding: 2%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 5px 5px 10px gray;
}

div {
    text-align: center;
    padding: 2%;
}

img {
    margin: auto;
    width: 400px;
    height: 500px;
}

footer {
    color: var(--color1);
    text-align: center;
    font-style: italic;
    margin-top: 1%;
}